html,body{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(182, 173, 173);
}
.h_title{
    color: red;
    text-align: center;
}
.img_avatar{
    border: 2px solid rgb(173, 163, 163);
    position: absolute;
    right: 10px;
    border-radius: 10px;
    width: 120px;
    top: 16px;
}